.app {
  background-color: rgb(255, 255, 255);
  min-height: 100%;
  width: 100%;
  position: absolute;
  color: rgb(99, 99, 99);
  box-sizing: border-box;
}

.container {
  width: 500px;
  min-height: 550px;
  background-color: rgb(241, 241, 241);
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 10px;
}
